[defaults]
inventory      = ./inventory
forks          = 5
poll_interval  = 15
transport      = smart
remote_port    = 22

roles_path    = ./roles
host_key_checking = True
remote_user = root
log_path = ./ansible.log

module_name = command
executable = /bin/bash
hash_behaviour = replace
ansible_managed = Ansible managed: {file} on {host}
retry_files_enabled = False
retry_files_save_path = ~/.ansible-retry


[privilege_escalation]
become=False
become_method=sudo
become_user=root

[ssh_connection]
#ssh_args = -o ControlMaster=auto -o ControlPersist=60s

[accelerate]
#accelerate_port = 5099
#accelerate_timeout = 30
#accelerate_connect_timeout = 5.0

[selinux]
# file systems that require special treatment when dealing with security context
# the default behaviour that copies the existing context or uses the user default
# needs to be changed to use the file system dependent context.
#special_context_filesystems=nfs,vboxsf,fuse,ramfs

# Set this to yes to allow libvirt_lxc connections to work without SELinux.
#libvirt_lxc_noseclabel = yes

[colors]
#highlight = white
#verbose = blue
#warn = bright purple
#error = red
#debug = dark gray
#deprecate = purple
#skip = cyan
#unreachable = red
#ok = green
#changed = yellow
#diff_add = green
#diff_remove = red
#diff_lines = cyan
